body {
    font-family: 'Shadows Into Light Two', cursive;
    background-color: #ECF0F1;
}

.container {
    padding: 50px;
    margin-top: 30px;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

li {
    font-size: 1.6em;
}

span.remove {
    font-size: 1.6em;
    color: #EF8B80;
}

span.remove:hover {
    cursor: pointer;
    color: #D62C1A;
}

div.row input {

    font-size: 1.6em;
    padding: 20px;
    margin: 20px 0 5px;
}

.btn {
    width: 100%;
    background-color: #69D3BF;
    font-size: 1.6em;
    color: #fff;
}

.btn:hover {
    background-color: #18BC9C;
    color: #fff;
}

p {
    margin-top: 20px;
    font-size: 1.4em;
}